<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>List of Countries</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>List of Countries</h1>
      <div class="card-container">

        {% for country in countries %}
        <a
          href="{{ url_for('country_detail', name=country.name) }}"  <!-- Change link to point to a new route (optional) -->
          class="card-link"
        >
          <div class="card">
            <!-- Optionally display the country's flag image -->
            <img src="{{ country.flag }}" alt="{{ country.name }}" width="100" />
            <div class="card-body">
              <h5 class="card-title">{{ country.name }}</h5>
              <p class="card-text">Capital: {{ country.capital }}</p>
              <p class="card-text">Population: {{ country.population }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>